.errors{
  list-style-type: none;
}

.errors__item {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(223, 30, 30, 0.7);
}

.success__item {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #6FCF97;
}

.errors__item--text {
  color: #fff;
  margin-left: 5px;
}