.form__container{
  margin: 40px;
  width: 30%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label{
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
}

.form__input{
  border: none;
  margin-top: 5px;
  height: 40px;
  border-radius: 10px;
  padding-left: 5px;
}

.form__button{
  border: none;
  margin-top: 10px;
  height: 30px;
  border-radius: 10px;
  width: 20%;
  &:hover{
    cursor: pointer;
  }
}