.nav{
  height: 15vh;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--logo-a{
  height: 100%;
  display: flex;
  align-items: center;
}

.nav--logo{
  height: 60%;
  margin-left: 50px;
}

.nav__menu{
  display: flex;
  height: 100%;
  align-items: center;
  list-style-type: none;
}

.menu__item{
  margin: {
    left: 20px;
    right: 20px;
  }
}

.menu__item--a{
  text-decoration: none;
  &:hover{
    color: $text-hover;
    cursor: pointer;
  }
}

.menu__item--text{
  font-size: 36px;
  color: #fff;
}


