.run{
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  border: 3px solid $secondary-color;
  &:hover{
    cursor: pointer;
    transform: scale(1.01);
  }
}

.run__left{
  width: 40%;
}

.run__right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.run--text{
  color: #fff;
}

.big{
  font-size: 30px;
  text-transform: uppercase;
}